@model List<SW_Consultorio.Models.Paciente>
@model List<SW_Consultorio.Models.Medico>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!--Panel de Total paciente-->
    <div class="col-xl-3 col-md-6 mb-4  blue">
        <div class="card border-left-dark shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">
                            Total Pacientes
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-dark" id="pacientes">@ViewBag.Pacientes</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-users fa-4x text-black-50"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Panel Total médicos -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Total de Medicos
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-primary" id="habitacionesdisponibles">2</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-user-md fa-4x text-primary"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Panel Usuarios -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                            Total de Pacientes
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-info" id="habitacioneslimpieza">5</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-user-times fa-4x text-info"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



